@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

    
  img[alt=buttons] { width: 50px; }
    
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}

a,
a:visited {
  font-size: 1rem;
  color: #3498db;
}

a:hover,
a:focus,
a:active {
  font-size: 1rem;
  color: #2980b9;
}

.lab-no-decoration {
  text-decoration: none;
}

html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.85;
}

p,
.lab-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
.lab-h1,
h2,
.lab-h2,
h3,
.lab-h3,
h4,
.lab-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.lab-h1 {
  margin-top: 0;
  font-size: 2.0rem;
}

h2,
.lab-h2 {
  font-size: 1.5rem;
}

h3,
.lab-h3 {
  font-size: 1.4rem;
}

h4,
.lab-h4 {
  font-size: 1.3rem;
}

h5,
.lab-h5 {
  font-size: 1.2rem;
}

h6,
.lab-h6 {
  font-size: 0.9rem;
}

small,
.lab-small {
  font-size: 0.707em;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

img[alt$=">"] {
  float: right;
  width: 50%;
}

img[alt$="<"] {
  float: left;
  width: 50%;
  padding-right: 1rem;
}

img[alt$="><"] {
  display: block;
  height: auto;
  margin: auto;
  float: none !important;
  width: auto;
}

p.clear {
  clear: both;
}

html {
  font-size: 15px;
  max-width: 100%;
}

body {
  color: #000;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0 auto;
  max-width: 64rem;
  line-height: 1.45;
  padding: .25rem;
}

#lab-instructions {
  background-color: #fafafa;
}

#text-entry {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  border-bottom: 2px solid #fafafa;
  margin-bottom: 1.15rem;
  padding-bottom: .5rem;
  text-align: center;
}

blockquote {
  border-left: 8px solid #fafafa;
  padding: 1rem;
}

pre,
code {
  background-color: #ededed;
}